<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Home</title>
  <meta charset = "UTF-8" />

  <!-- Stylesheet Bootstrap-->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  crossorigin="anonymous">
  <style>
    nav {
      padding: 0px 10px 0px 10px;
    }
    ul {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }

    li a {
      display: block;
      width: 60px;
    }
  </style>
</head>

<body class="container-fluid">
  <nav class="navbar navbar-inverse">
    <ul class = "navbar navbar-nav">
      <li class="nav-item active"><a class="navbar-link" href="#">Home</a></li>
      <li><a class="navbar-link"href="#">About</a></li>
      <li><a class="navbar-link"href="#">Contact</a></li>
    </ul>
  </nav>

  <main>
    <h2>EJS Views Example</h2>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success" role="alert">
          <p><strong>First Name:</strong> <span><%= firstName %></span></p>
          <p><strong>Last Name:</strong> <span><%= lastName %></span></p>
          <p><strong>Address:</strong> <span><%= address %></span></p>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
