<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Izabella EMS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
          body, html {
            height: 100%;
            background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
            background-position: center;
            background-repeat: none;
            background-size: cover;
            position: relative;
          }
          .bg {
            background-color: white;
            padding-bottom: 1em;
            padding-top: 1em;
          }
          #hero {
            background-image: url(https://images.unsplash.com/photo-1538688423619-a81d3f23454b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
            background-position: center;
            background-repeat: none;
            background-size: cover;
            position: relative;
            height: 500px;
            margin-top: -1.5em;
          }
          .cta {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          .btn {
            background-color: #f8f8f8;
            color: #777;
            width: 30%;
            padding: 20px;
            margin: 1em 0em;
            border-color: #e7e7e7;
            border-radius: 4px;
          }
          .btn a {
            color: #777;
            text-decoration: none;
          }
          .btn:hover {
            background-color: #e7e7e7;
          }
          .btn:hover a {
            color: #555;
            text-decoration: none;
          }
          @media screen and (max-width: 990px) {
            .btn {
            width: 100%;
            }
          }
          footer {
            background-color: #f8f8f8;
            border-color: #e7e7e7;
            position: relative;
            min-height: 50px;
            border: 1px solid #e7e7e7;
            border-radius: 4px;
            margin-top: 2em;
          }

          footer p {
            display: block;
            margin: 20px auto;
            padding-right: 15px;
            padding-left: 15px;
          }
          footer a {
            color: #777;
            text-decoration: none;
          }
          footer:hover a {
            color: #555;
            text-decoration: none;
          }
        </style>
    </head>
