<%- include('header'); -%>
<body>
  <div role="main" class="container">
    <%- include('navbar'); -%>
    <div id="hero"></div>
    <div class="container">
      <h2>Here you can find a list of employee records...</h2>
    </div>

  </div>
  <%- include('footer'); -%>
  <%- include('scripts'); -%>
</body>
</html>
