<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="list">List</a></li>
      <li><a href="new">Create New Employee</a></li>
      <li><a href="view">View Employee Details</a></li>
    </ul>
  </div>
</nav>
